
.circle1
{
    background-color: rgba(3, 134, 57, 0.848);
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin-top: -150px;
    margin-left: -150px;
}
.circle2
{
    background-color: rgba(3, 134, 57, 0.848);
    height: 180px;
    width: 180px;
    border-top-left-radius: 75%;
    border-top-right-radius: 5%;
    margin-top: -100px;
    margin-left: 1350px;
}
.fon
{
    background-color: rgb(66, 251, 189);
    border-radius: 20px;
    height: 460px;
    width: 490px;
    margin-top: 80px;
    margin-left: 220px;
    box-shadow:  4px 5px 0px 0px rgba(58, 57, 57, 0.748);
    
}

.listgood1
{
    background-color: rgba(255, 255, 255, 0.806);
    box-shadow: inset 2px 3px 0px 0px rgb(143, 142, 142);
    border-radius: 25px;
    border: none;
    text-align: center;
    font-size: 32px;
    width: 456px;
    height: 70px;
    float: left;
    margin-left: 235px;
    margin-top: -430px;
}
.listgood1 a
{
    text-align: center;
    color: black;
    text-decoration: none;
}
.listgood2
{
    background-color: rgba(255, 255, 255, 0.806);
    box-shadow: inset 2px 3px 0px 0px rgb(143, 142, 142);
    border-radius: 25px;
    border: none;
    text-align: center;
    font-size: 32px;
    width: 456px;
    height: 70px;
    float: left;
    margin-left: 235px;
    margin-top: -340px;
}
.listgood2 a
{
    text-align: center;
    color: black;
    text-decoration: none;
}
.listgood3
{
    background-color: rgba(255, 255, 255, 0.806);
    box-shadow: inset 2px 3px 0px 0px rgb(143, 142, 142);
    border-radius: 25px;
    border: none;
    text-align: center;
    font-size: 32px;
    width: 456px;
    height: 70px;
    float: left;
    margin-left: 235px;
    margin-top: -250px;
}
.listgood3 a
{
    text-align: center;
    color: black;
    text-decoration: none;
}
.listgood4
{
    background-color: rgba(255, 255, 255, 0.806);
    box-shadow: inset 2px 3px 0px 0px rgb(143, 142, 142);
    border-radius: 25px;
    border: none;
    text-align: center;
    font-size: 32px;
    width: 456px;
    height: 70px;
    float: left;
    margin-left: 235px;
    margin-top: -160px;
}
.listgood4 a
{
    text-align: center;
    color: black;
    text-decoration: none;
}